<div class="jumbotron <%=@api_color %>">
  <h1><%= @api_description %></h1>
  <br>
  <br>

  <h3 class="lead">Ozone air quality readout for the <%= @info %> zipcode: <%= @final_output %> Particulate Matter</h3>
</div>
